.searchbar2{
    padding: 10vmin 3vmin 3vmin 3vmin;
    margin-left: auto;
    margin-right: auto;
}
.resultBox{
    padding: 5vmin;
    margin-left: auto;
    margin-right: auto;
}
.rebutton{
    padding: 5vmin;
}